// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Home row mods macro

#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4

#define DEF 0
#define PUN 1
#define PRG 2
#define SYM 3
#define NAV 4
#define FUN 5
#define NUM 6
#define MED 7
#define TOP 8

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W    &kp F    &kp P      &kp B              &kp J      &kp L      &kp U      &kp Y    &kp SEMICOLON
&ht LEFT_SHIFT A  &lt 0 S  &lt 3 S  &lt 1 T    &kp G              &kp M      &lt 2 N    &lt 0 E    &lt 0 I  &ht RSHFT O
&kp Z             &kp X    &kp C    &kp D      &kp V              &kp K      &kp H      &kp COMMA  &kp DOT  &kp FSLH
                                    &kp ENTER  &lt 0 BACKSPACE    &kp SPACE  &lt 1 TAB
            >;
        };

        punctuation {
            bindings = <
&none  &none  &none  &none   &trans    &none     &kp UNDERSCORE  &kp PIPE              &kp SQT            &kp RS(NUMBER_3)
&none  &none  &none  &none   &trans    &kp HASH  &kp TILDE       &kp FSLH              &kp DOUBLE_QUOTES  &kp DOLLAR
&none  &none  &none  &none   &none     &none     &kp MINUS       &kp NON_US_BACKSLASH  &kp GRAVE          &kp RA(NUMBER_4)
                     &trans  &none     &trans    &trans
            >;
        };

        Programming {
            bindings = <
&kp HASH      &kp LS(COLON)  &kp LS(LT)    &kp LS(GT)    &kp LA(EQUAL)    &none   &none   &none  &none  &none
&kp LS(LBRC)  &kp LS(RBRC)   &kp LS(LPAR)  &kp LS(RPAR)  &kp LS(AT)       &none   &none   &none  &none  &none
&kp MINUS     &kp LS(EXCL)   &kp LBKT      &kp RBKT      &kp BSPC         &none   &none   &none  &none  &none
                                           &trans        &none            &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none  &none   &trans    &none     &kp UNDERSCORE  &kp PIPE              &kp SQT            &kp RS(NUMBER_3)
&none  &none  &none  &none   &trans    &kp HASH  &kp TILDE       &kp FSLH              &kp DOUBLE_QUOTES  &kp DOLLAR
&none  &none  &none  &none   &none     &none     &kp MINUS       &kp NON_US_BACKSLASH  &kp GRAVE          &kp RA(NUMBER_4)
                     &trans  &none     &trans    &trans
            >;
        };
    };
};
